 <!-- put  data: { turbo: false } to show errors in forms -->
<%= form_with model: student, data: { turbo: false }  do |form| %> 

  <% if @student.errors.any? %>
   <% @student.errors.full_messages.each do |message| %>
     <p><%= message %></p>
   <% end %>
  <% end %>

	<div>
		<%= form.label :first_name %><br>
		<%= form.text_field :first_name %>
	</div>
	<div>
		<%= form.label :last_name %><br>
		<%= form.text_field :last_name %>
	</div>
	<div>
		<%= form.label :email %><br>
		<%= form.email_field :email %>
	</div>

	<%= form.submit %>

<% end %>

<!-- how we pass local variable to forms 
1st way<%#= render 'form', student: @student %>
2nd way <%#= render partial: 'form', locals: { student: @student } %> -->